:root {
    --p5 : #ED225D;
}

* {
    margin : 0;
    padding : 0;

    line-height: 140%;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
    display: flex;
    flex-direction: row;
    
    gap: 0;
    height: 100vh;

    overflow: hidden;
}

body>div {
    flex : 1;
    width : 100%;
    height : 100%;

    border : 0.5px solid #333;

    overflow: auto;

}

input {
    margin-right: 6px;
}

#code-editor-container {
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

button {
    padding: 10px 16px;

    cursor: pointer;
    font-weight: bold;

    border : none;
    outline: 0.5px solid black;

    /* border-radius: 4px; */

    width: 100%;
    transition: opacity 0.2s;
}

button:hover { opacity: 0.5; }

#runBtn { background: var(--p5); color: white; }

.variable-item {
    margin : 8px;
    padding: 8px;

    border: 1px solid black;
}

.variable-item label {
    font-weight: bold;
    font-family: monospace;
}

.variable-details input,
.variable-details select {
    margin: 4px 0;
    padding: 6px;
    width: 100%;
    box-sizing: border-box;
}

.variable-meta {
    font-size: 12px;
    color: #888;
}

.gui-row {
    padding: 8px;

    margin-bottom: 8px;

    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 14px;
}
.gui-label { min-width: 90px; overflow: hidden; text-overflow: ellipsis; }
.gui-val-text { font-weight: bold; }

.caption {
    color: #aaa; 
    
    padding: 4px;

    font-size: 12px;
    font-weight: 500;

    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* CodeMirror and guified variable highlighting */
.CodeMirror {
    height: 100% !important;
    font-family: 'Fira Code', 'Courier New', monospace;
    font-size: 16px;
}

/* HIGHLIGHT */
.guified-var {
    background-color: rgba(119, 77, 246, 0.2);
    color: #000;
    font-weight: bold;
}